In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import yfinance as yf

In [18]:
tickers = yf.Tickers('MSFT AAPL GOOG')
tickers

nvidia = yf.Tickers('NVDA')
nvidia.history(period='max')

[*********************100%***********************]  1 of 1 completed

Price,Close,Dividends,High,Low,Open,Stock Splits,Volume
Ticker,NVDA,NVDA,NVDA,NVDA,NVDA,NVDA,NVDA
Date,,,,,,,
1999-01-22,0.037612,0.0,0.044775,0.035581,0.040119,0.0,2714688000
1999-01-25,0.041552,0.0,0.042029,0.037612,0.040597,0.0,510480000
1999-01-26,0.038328,0.0,0.042865,0.037731,0.042029,0.0,343200000
1999-01-27,0.038209,0.0,0.039403,0.036298,0.038447,0.0,244368000
1999-01-28,0.038089,0.0,0.038447,0.037850,0.038209,0.0,227520000
...,...,...,...,...,...,...,...
2025-03-31,108.379997,0.0,110.959999,103.650002,105.129997,0.0,299212700
2025-04-01,110.150002,0.0,110.199997,106.470001,108.519997,0.0,222614000
2025-04-02,110.419998,0.0,111.980003,106.790001,107.290001,0.0,220601200
2025-04-03,101.800003,0.0,105.629997,101.599998,103.510002,0.0,338769400
2025-04-04,94.309998,0.0,100.124100,92.110001,98.940002,0.0,525608136

In [9]:
spy = yf.Ticker('SPY').funds_data
spy.description
spy.top_holdings

                                  Name  Holding Percent
Symbol
AAPL                         Apple Inc         0.069954
MSFT                    Microsoft Corp         0.058503
NVDA                       NVIDIA Corp         0.055643
AMZN                    Amazon.com Inc         0.037620
META        Meta Platforms Inc Class A         0.026460
BRK-B   Berkshire Hathaway Inc Class B         0.020465
GOOGL             Alphabet Inc Class A         0.018910
AVGO                      Broadcom Inc         0.016453
GOOG              Alphabet Inc Class C         0.015483
TSLA                         Tesla Inc         0.015204